######################################################################
#  MACROS   
######################################################################


[gcode_macro STARTUP_SCRIPT]
gcode:
  # Your custom startup commands go here
  G28 ; Home all axes
#   M104 S200 ; Set extruder temperature to 200C
#   M140 S60 ; Set bed temperature to 60C
  ; Add more commands as needed



[gcode_macro Level_XGantry]
gcode:
    G28                        ; Home all axes
    G90                        ; Absolute positioning
    G0 X160 Y110 F6000         ; Move to center of the bed
    G0 Z145 F3000              ; Move gantry to the stopper position (145mm)
    G0 Z150 F3000              ; Slightly raise to 150mm
    G0 Z100 F3000              ; Lower to 100mm
    G0 Z155 F3000              ; Raise back up to 155mm
    G0 Z60  F3000              ; Lower to 60mm
    G28                        ; Home again (final home)
    
    
###Bed Mesh
[gcode_macro Level_Bed]
gcode:
    
    G28
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE save=default


###Cancel Print
[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####
  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}


[gcode_macro Z_OFFSET]
gcode:
    G28
    G0 X160 Y110 Z10 F6000
    M140 S60
    G4   P5000
    PROBE_CALIBRATE

[gcode_macro chamber_heat]
gcode:
    G28 
    M106 S255 
    G0 F5000
    G0 X160 Y110 Z10 F6000
    M140 S105
    M109 S250
    G0 E10 F2000
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=CB1 TARGET=30
  

[gcode_macro PID_Extruder]
gcode:

    G28
    G1 F7800
    G0 X160 Y110 Z10 F6000
    M106 S250
    SAVE_CONFIG

[gcode_macro PID_heater_bed]
gcode:

    G28
    G1 F7800
    G0 X160 Y110 Z10 F6000
    M106 S250
    SAVE_CONFIG

[gcode_macro FILAMENT_LOAD]
gcode:
    G28                          ; Home all axes
    G0 X160 Y110 Z10 F6000        ; Move to center for filament load (Smart-Park)
    G4 P15000                    ; Wait 15 seconds
    M104 S260                    ; Heat nozzle to 260°C
    M109 S260                    ; Wait until nozzle reaches 260°C
    G4 P10000                    ; Wait an additional 10 seconds
    M83                          ; Switch to relative extruder mode
    G92 E0                       ; Reset the extruder position to 0
    G1 E100 F500                 ; Extrude 100mm of filament at 500mm/min
    G92 E0                       ; Reset the extruder position again
    G4 P3000                     ; Wait 3 seconds
    M104 S0                      ; Turn off the hotend heater



[gcode_macro FILAMENT_UNLOAD]
gcode:
    G28                          ; Home all axes
    G0 X160 Y110 Z10 F6000        ; Move to center for filament unload (Smart-Park)
    M104 S260                    ; Heat nozzle to 260°C
    M109 S260                    ; Wait until nozzle reaches 260°C
    G4 P3000                     ; Wait 3 seconds
    M83                          ; Switch to relative extruder mode
    G92 E0                       ; Reset the extruder position to 0
    G1 E20 F200                  ; Extrude 20mm to prepare the filament
    G1 E-120 F500                ; Retract 120mm of filament at 500mm/min
    G92 E0                       ; Reset the extruder position again
    G4 P3000                     ; Wait 3 seconds
    M150 R255 G255 B255          ; Set the light bar to white (fixed the command)
    M104 S0                      ; Turn off the hotend heater

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F3000
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-120 F2000
    RESTORE_GCODE_STATE NAME=M600_state

######################################################################
# TEST_MACROS   
######################################################################

[gcode_macro Clean_Nozzle]
gcode:
    G28                            ; Home all axes
    G90                            ; Absolute positioning
    G0 X160 Y110 Z80 F6000         ; Move to center of the bed at 80mm height
    M104 S230                      ; Set nozzle temperature to 230°C
    M109 S230                      ; Wait for nozzle to reach 230°C
    G91                            ; Switch to relative positioning
    G1 E-10 F300                   ; Retract 10mm of filament
    G90                            ; Switch back to absolute positioning



[gcode_macro Extrude_and_Home]
gcode:
    G91                            ; Switch to relative positioning
    G1 E7 F300                     ; Extrude 7mm of filament
    G90                            ; Switch back to absolute positioning
    G28                            ; Home all axes
    M104 S0                        ; Turn off the extruder heater
    M106 S255                      ; Turn on the cooling fan at full speed
    M109 R45                       ; Wait until the extruder cools down to 45°C
    M107                           ; Turn off the fan


[gcode_macro PAUSE_PRINT]
gcode:
    M83                        ; Set extruder to relative mode
    G1 E-1 F300                ; Retract the filament a bit
    G91                        ; Set relative positioning
    G1 Z10 F3000               ; Move the nozzle up 10mm
    G90                        ; Set absolute positioning
    G1 X0 Y0 F3000             ; Move the nozzle to the home position
    M84                        ; Disable motors

[gcode_macro SHUTDOWN_PROCEDURE]
gcode:
    M104 S0                    ; Turn off the extruder
    M140 S0                    ; Turn off the bed
    M106 S0                    ; Turn off any fans
    M84                        ; Disable motors
    M117 Emergency Stop Activated ; Display a message on the LCD
